@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    font-family: Rubik, sans-serif;
    color: black;
}

.logo {
    margin-left: 10px;
    margin-right: auto;
    font-family: Rubik, sans-serif;
    font-size: 30px;
}

.part2 image {
    width: 50%;
    
}

.about {
    padding: 40px;
}

.part2 img {
    width: 90%;
    height: 300px;
    object-fit: contain;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 50px;
    font-family: Rubik, sans-serif;
    margin-top: 50px;
}

.heading {
    font-size: 35px;
    font-weight: 700;
}

.subtext {
    margin-top: 10px;
    font-size: 18px;
}

.part3 {
    font-family: Rubik, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.playlists {
    margin-top: 40px;
}

.playlists ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.playlists li {
    list-style-type: none;
    text-decoration: none;
    width: min-content;

}

 a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    &:hover{
        color: rgb(255, 133, 153);
    }
}

.playlists img {
    border: 2px solid rgb(255, 133, 153);
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 4px gray;
    }
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    width: fit-content;
    margin: 20px;

}

.suntzu {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.part4 {
    background-color: #e5e7eb;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
} 
.part5-out{
    display: flex;
    justify-content: center;
}
.part5{
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 133, 153);
    margin-top: 20px;
    
    font-family: Rubik, sans-serif;

}
.part5 .upper{
    font-size: 20px;
    font-weight: 600;
}
.part5 .lower{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}
.part5 button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 10px;
    background: none;
}
footer{
    background-color: beige;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    color: #3E362E;
    justify-content: space-evenly;
    
}
.footer1-top,
.footer2-top,
.footer3-top,
.footer4-top{
    font-size: 30px;
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer1{
    width: 20%;
}

footer ul{
}
.footer2,
.footer3,
.footer4{
    width: 15%;
}
.footer1-bottom{
    font-family: Poppins;
    font-weight: 200;
}
footer ul, footer li{
    background: none;
    animation: none;
    
    text-shadow: none;
    color: black;
    font-size: 15px;
}
footer ul{
    padding: 0px;
}
footer li{
    margin-top: 5px;
    font-weight: 200;
    font-family: Poppins;
    list-style: none;
    text-align: left;
}
.tnc{
    background-color: beige;
    text-align: right;
    color: #3E362E;
    padding-right: 5px;
    margin-top: 2px;
    font-family: Poppins;
    font-size: 15px;
}
footer a{
    text-decoration: none;
    color: #333030;
}
.playlists ul{
    padding: 0px;
}
.diff-color{
    color: rgb(255, 133, 153);
}
button{
    margin-top: 10px;
    background-color: rgb(255, 133, 153);
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: black;
        color: beige;
    }
}
nav{
    background-color: beige;
    box-shadow: 2px 2px 4px gray;
}
@media (max-width: 700px){
    footer{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding: 0px;
    }
    .footer2,
    .footer3,
    .footer4{
        width: 100%;
    }
    .footer1{
        width: 100%;
    }
    .tnc{
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
    .image {
        display: flex;
        justify-content: center;
    }
    .part4 .suntzu{
        font-size: 15px;

    }
    .part4 .quote{
        font-size: 20px;
    }
    .part4{
        padding: 20px;
    }
}